Accuracy Precision Recall Score

In [15]:
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [16]:
data = pd.read_csv('Data Mahasiswa.csv')
data

,NO,JENIS KELAMIN,STATUS MAHASISWA,STATUS PERNIKAHAN,IPK SEMESTER 1-6,STATUS KELULUSAN
0,1,LAKI - LAKI,MAHASISWA,BELUM,3.17,TEPAT
1,2,LAKI - LAKI,BEKERJA,BELUM,3.30,TEPAT
2,3,PEREMPUAN,MAHASISWA,BELUM,3.01,TEPAT
3,4,PEREMPUAN,MAHASISWA,MENIKAH,3.25,TEPAT
4,5,LAKI - LAKI,BEKERJA,MENIKAH,3.20,TEPAT
5,6,LAKI - LAKI,BEKERJA,MENIKAH,2.50,TERLAMBAT
6,7,PEREMPUAN,BEKERJA,MENIKAH,3.00,TERLAMBAT
7,8,PEREMPUAN,BEKERJA,BELUM,2.70,TERLAMBAT
8,9,LAKI - LAKI,BEKERJA,BELUM,2.40,TERLAMBAT
9,10,PEREMPUAN,MAHASISWA,MENIKAH,2.50,TERLAMBAT
10,11,PEREMPUAN,MAHASISWA,BELUM,2.50,TERLAMBAT
11,12,PEREMPUAN,MAHASISWA,BELUM,3.50,TEPAT
12,13,LAKI - LAKI,BEKERJA,MENIKAH,3.30,TEPAT
13,14,LAKI - LAKI,MAHASISWA,MENIKAH,3.25,TEPAT
14,15,LAKI - LAKI,MAHASISWA,BELUM,2.30,TERLAMBAT

In [17]:
data_aktual = data['STATUS KELULUSAN'].tolist()
data_prediksi = ['TEPAT', 'TEPAT', 'TEPAT', 'TEPAT', 'TEPAT', 
                 'TERLAMBAT', 'TERLAMBAT', 'TERLAMBAT', 'TEPAT', 
                 'TERLAMBAT', 'TERLAMBAT', 'TEPAT', 'TEPAT', 
                 'TEPAT', 'TERLAMBAT']

In [18]:
accuracy = accuracy_score(data_aktual, data_prediksi)
precision = precision_score(data_aktual, data_prediksi, pos_label='TEPAT')
recall = recall_score(data_aktual, data_prediksi, pos_label='TEPAT')

# 6. Tampilkan hasil
print(f"Akurasi  : {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall   : {recall:.2f}")

Akurasi  : 0.93
Precision: 0.89
Recall   : 1.00